<!-- begin:: Modal example -->
<app-modal #modal [modalConfig]="modalConfig">
  Modal body html
</app-modal>
<!-- <button class="btn btn-primary" (click)="openModal()">Open modal</button> -->
<!-- Note: Don't forget import ModalsModule (from _metronic/partials) into your module -->
<!-- end:: Modal example -->

<div class="
          notice
          d-flex
          bg-light-primary
          rounded
          border-primary border border-dashed
          p-6
          mb-xl-8
        ">
  <app-keenicon name="shield-tick" class="fs-2 text-primary me-4"></app-keenicon>
  <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
    <div class="mb-3 mb-md-0 fw-bold">
      <h4 class="text-gray-800 fw-bolder">Fund Your Account</h4>
      <div class="fs-6 text-gray-600 pe-7">
        Please fund your account to proceed with your purchase on our trading platform. Click the button and follow the instructions to fund your wallet.
      </div>
    </div>
    <a class="
              btn btn-primary
              px-6
              align-self-center
              text-nowrap
              cursor-pointer
            " (click)="openModal()">Fund Wallet</a>
  </div>
</div>