<!-- begin::Header-->
<div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder text-gray-900">Stocks</span>
      <span class="text-muted mt-1 fw-bold fs-7">Latest Stock trends</span>
    </h3>
  </div>
  <!-- end::Header-->
  <!-- begin::Body-->
  <div class="card-body pt-5">
    <!-- begin::Item-->
    <div class="d-flex align-items-sm-center mb-7" *ngFor="let stock of stocks">
      <!-- begin::Symbol-->
      <div class="symbol symbol-50px me-5">
        <span class="symbol-label">
          <img
            src="{{ stock.icon }}"
            class="h-50 align-self-center"
            alt=""
          />
        </span>
      </div>
      <!-- end::Symbol-->
      <!-- begin::Section-->
      <div class="d-flex align-items-center flex-row-fluid flex-wrap">
        <div class="flex-grow-1 me-2">
          <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">
            {{ stock.name }}
          </a>
          <span class="text-muted fw-bold d-block fs-7"
            >{{ stock.symbol }}</span
          >
        </div>
        <span class="badge badge-light-success">+$ {{ stock.avgBuy }}</span> &nbsp;
        <span class="badge badge-light-info">-$ {{ stock.avgSell}}</span> &nbsp;
        <div>
            <!-- <button
                type="button"
                class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
                data-kt-menu-trigger="click"
                data-kt-menu-placement="bottom-end"
                data-kt-menu-flip="top-end"
            >
                <app-keenicon name="category" class="fs-2"></app-keenicon>
            </button>
            <app-trade-order [tradeOrder]="stock" ></app-trade-order> -->
            <app-trade-order-drawer [tradeOrder]="stock"></app-trade-order-drawer>
        </div>
      </div>
      <!-- end::Section-->
    </div>
    <!-- end::Item-->
  </div>
  <!-- end::Body-->
  