<!-- begin::Header -->
<div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">{{ exchangeName }}</span>
      <span class="text-muted mt-1 fw-bold fs-7">Market Brief</span>
    </h3>
    <!-- <div class="card-toolbar">
      <a href="#" class="btn btn-sm btn-light-primary">
        <app-keenicon name="plus" class="fs-3"></app-keenicon>
        New Member
      </a>
    </div> -->
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted bg-light">
            <th class="ps-4 min-w-200px rounded-start">Stock</th>
            <th class="min-w-100px">Bid Price</th>
            <th class="min-w-100px">Ask Price</th>
            <th class="min-w-100px">Max Price Shift</th>
            <th class="min-w-150px">Last Traded Price</th>
            <th class="min-w-50px">Action</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <!-- <ng-container *ngIf="marketBriefs.length !== 0">           -->
            <tr *ngFor="let marketBrief of marketBriefs$ | async">
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-50px me-5">
                      <span class="symbol-label">
                        <img
                          src="{{ marketBrief.icon }}"
                          class="h-50 align-self-center"
                          alt=""
                        />
                      </span>
                    </div>
                  <div class="d-flex justify-content-start flex-column">
                    <a
                      href="#"
                      class="text-gray-900 fw-bolder text-hover-primary mb-1 fs-6"
                    >
                      {{ marketBrief.name }}
                    </a>
                    <span class="text-muted fw-bold text-muted d-block fs-7">
                      {{ marketBrief.symbol }}
                    </span>
                  </div>
                </div>
              </td>
              <td>
                <span class="text-gray-900 fw-bolder text-hover-primary d-block mb-1 fs-6"
                >
                $ {{ marketBrief.bidPrice | number : '1.2-2' }}
                </span>
              </td>
              <td>
                  <span class="text-gray-900 fw-bolder text-hover-primary d-block mb-1 fs-6">$ {{ marketBrief.askPrice | number : '1.2-2' }} </span>
              </td>
              <td>
                  <span class="text-gray-900 fw-bolder text-hover-primary d-block mb-1 fs-6">$ {{ marketBrief.maxPriceShift | number : '1.2-2' }}</span
                >
              </td>
              <td>
                  <span class="text-gray-900 fw-bolder text-hover-primary d-block mb-1 fs-6">$ {{ marketBrief.lastTradedPrice | number : '1.2-2' }}</span>
              </td>
              <td>
                <div class="app-navbar-item ms-1 ms-lg-3" (click)="triggerDrawer(marketBrief)">
                  <div
                    class="position-relative btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px w-md-40px h-md-40px">
                    <app-keenicon name="purchase" class="fs-2"></app-keenicon>
                  </div>
                </div>
              </td>
            </tr>
          <!-- </ng-container> -->
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
  