<!-- begin::Row -->
<div class="row g-5 g-xl-8">
    <!-- begin::Col -->
    <div class="col-xl-4">
      <app-mixed-widget9
        class="card card-xl-stretch mb-xl-8"
        chartColor="primary"
        chartHeight="150px"
      ></app-mixed-widget9>
    </div>
    <!-- end::Col -->
  
    <!-- begin::Col -->
  <div class="col-xl-4">
    <app-mixed-widget2
      class="card card-xl-stretch mb-5 mb-xl-8"
      chartColor="primary"
      chartHeight="200px"
      strokeColor="#0078d0"
    ></app-mixed-widget2>
  </div>
  <!-- end::Col -->
  
    <!-- begin::Col -->
  <div class="col-xl-4">
    <app-mixed-widget7
      class="card card-xl-stretch mb-xl-8"
      chartColor="success"
      chartHeight="200px"
    ></app-mixed-widget7>
  </div>
  <!-- end::Col -->
  </div>
  <!-- end::Row -->