<div  id="kt_drawer_trade_order_toggle" #triggerBtn></div>
<div
  id="kt_drawer_trade_order"
  class="bg-body"
  data-kt-drawer="true"
  data-kt-drawer-name="trade_order"
  data-kt-drawer-activate="true"
  data-kt-drawer-overlay="true"
  data-kt-drawer-width="{default:'300px', 'md': '500px'}"
  data-kt-drawer-direction="end"
  data-kt-drawer-toggle="#kt_drawer_trade_order_toggle"
  data-kt-drawer-close="#kt_drawer_trade_order_close"
  
>
  <div class="card w-100 rounded-0" id="kt_drawer_trade_order_messenger">
    <div class="card-header pe-5" id="kt_drawer_trade_order_messenger_header">
      <div class="card-title">
        <div class="px-5 py-5 d-flex align-items-sm-center">
            <div class="symbol symbol-50px me-5">
              <span class="symbol-label">
                <img src="{{ localTradeObj.icon }}" class="h-50 align-self-center" alt="" />
              </span>
            </div>
            <div class="fs-5 text-gray-900 fw-bolder"> {{ localTradeObj.name }} Stock Options</div>
          </div>
      </div>
      <div class="card-toolbar" >
        <div
          class="btn btn-sm btn-icon btn-active-light-primary"
          id="kt_drawer_trade_order_close"
        >
          <span class="svg-icon fs-2"></span>
          <app-keenicon name="cross" class="fs-2"></app-keenicon>
        </div>
      </div>
    </div>
      <!-- begin::Alert error-->
      <ng-container *ngIf="hasError">
        <div class="mb-lg-15 alert alert-danger">
          <div class="alert-text font-weight-bold">
            {{errorMsg}}
          </div>
        </div>
      </ng-container>
      <!-- end::Alert error-->
    <!-- Calculations -->
    <form [formGroup]="createOrderForm" (ngSubmit)=executeTrade(createOrderForm) class="px-7 py-5">
      <div class="mb-10">
        <label class="form-label fw-bold">Portfolio:</label>
    
        <div>
          <select formControlName="portfolioId" class="form-select form-select-solid" data-kt-select2="true" data-placeholder="Select option"
            data-allow-clear="true">
            <option default ngValue="value">Select portfolio</option>
            <option *ngFor="let portfolio of userPortfolios" [value]="portfolio.id">
              {{ portfolio.name }}
            </option>
          </select>
        </div>
      </div>
    
      <div class="mb-10">
        <label class="form-label fw-bold">Trade Type:</label>
    
        <div class="d-flex">
          <label class="form-check form-check-sm form-check-custom form-check-solid me-5">
            <input id="type" formControlName="type" class="form-check-input" type="radio" value="MARKET" />
            <span class="form-check-label">Market</span>
          </label>
    
          <label class="form-check form-check-sm form-check-custom form-check-solid">
            <input id="type" formControlName="type" class="form-check-input" type="radio" value="LIMIT" />
            <span class="form-check-label">Limit</span>
          </label>
        </div>
      </div>
    
      <div class="mb-10">
        <label class="form-label fw-bold">Quantity:</label>
        <div>
          <input id="quantity" formControlName="quantity"  class="form-control form-control-solid" type="number" type placeholder="0" />
        </div>
      </div>
    
      <div  class="mb-10" *ngIf="createOrderForm.get('type')?.value === 'LIMIT' ">
        <label class="form-label fw-bold">Amount:</label>
        <div>
          <input formControlName="price" class="form-control form-control-solid" type="number" placeholder="0.00" />
        </div>
      </div>
    
      <div class="mb-10">
        <label class="form-label fw-bold">Order Type:</label>
    
        <div class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
          <input formControlName="splitEnabled" class="form-check-input" type="checkbox" name="notifications" checked />
          <label class="form-check-label">Split Enabled</label>
        </div>
      </div>
    
      <div class="mb-10">
        <label class="form-label fw-bold">Exchange:</label>
    
        <div>
          <select formControlName="preferredExchangeSlug" class="form-select form-select-solid" data-kt-select2="true" data-placeholder="Select option"
            data-allow-clear="true">
            <option></option>
            <option selected ngValue="values">Select Exchange</option>
            <option value="EXCHANGE1">Exchange 1</option>
            <option value="EXCHANGE2">Exchange 2</option>
          </select>
        </div>
      </div>
    
      <div class="d-flex justify-content-end">
        <button type="reset" class="btn btn-sm btn-light btn-active-light-primary me-2" id="kt_drawer_trade_order_close" data-kt-menu-dismiss="true" #closeBtn>
          Discard
        </button>
    
        <button type="submit" (click)="buy(createOrderForm)" class="btn btn-sm btn-light-primary me-2" data-kt-menu-dismiss="true">
          Buy
        </button>
        <button type="submit" (click)="sell(createOrderForm)" class="btn btn-sm btn-light-primary" data-kt-menu-dismiss="true">
          Sell
        </button>
      </div>
    </form>
  </div>
</div>